extends layout

block content
  h1= title
  form(id='furnishingForm', action="/resource/furnitures", method="POST", style="display:flex; flex-direction:column; border-radius:50px;  ")
    div.form-group(style="color: black; ")
      label.furnishingAttr(for='material_type') furnishing location 
      input#material_type(type='text', name='material_type')
    div.form-group(style="color: black;")
      label.furnishingAttr(for='style') furnishing Style
      input#style(type='text', name='style')
    div.form-group(style="color: black;")
      label.furnishingAttr(for='price') furnishing price
      input#price(type='number', name='price')
    input(type="submit")(style="color: black;width:24%")
    
  script.
    document.forms['furnishingForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      })
      .then((body) => {
        alert("Save succeeded");
        // TODO handle body
      })
      .catch((error) => {
        // TODO handle error
        alert("Save failed: " + error);
      });
    });
